<div class="row text-center">
  <div align="center">
    <div class="col-lg-4" >
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
<hr class="featurette-divider">
<h4 class="featurette-heading">Objective of Alumni Committee</h4>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eaque voluptatum sequi excepturi distinctio pariatur modi aliquid tenetur, voluptas nesciunt adipisci officia similique dignissimos? Quibusdam esse saepe quas soluta ad?</p>
