<div align="center" class="p-3">
  <div class="row mx-auto my-auto">
    <div class="col-lg-6">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Mihir_karkare.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mihir Karkare</h4>
      <p>Co-founder & EVP at Mirum India (Formerly Social Wavelength) : A WPP Company
      </p>
      <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Omprakash_Jha.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Omprakash Jha</h4>
      <p>Economic Times Young Leader | Indian Youth Delegate | Panasonic | Godrej | IIM Raipur | Nat Geo
      </p>
      <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
    <!-- <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h4>Heading</h4>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>/.col-lg-4 -->
  </div>
</div>