<div style="overflow-y: scroll; height: 470px;">
  <div align="center" class="p-3">
  <div class="row mx-auto my-auto">
    <div class="col-lg-6" id="item-1">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Mihir_karkare.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Mihir Karkare</h4>
      <p>Co-founder & EVP at Mirum India (Formerly Social Wavelength) : A WPP Company</p>
      <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6" id="item-1">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Omprakash_Jha.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Omprakash Jha</h4>
      <p>Economic Times Young Leader | Indian Youth Delegate | Panasonic | Godrej | IIM Raipur | Nat Geo</p>
      <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6" id="item-2">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Gaurav_sen.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Gaurav Sen</h4>
      <p>Software Engineer at Uber, Youtuber & Code Guru</p>
    </div>
    <div class="col-lg-6" id="item-3">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Lester_fernandes.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Lester Fernandes</h4>
      <p>CEO, BUDSTA Analytics & Insights, Mumbai.</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Karthik_gandikota.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Karthik Gandikota</h4>
      <p>Senior Business Technology Analyst, ZS</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Akshay_jha.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Akshay Jha</h4>
      <p>Actor/Writer, Film Industry</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Shriya_kumar.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Ms. Shriya Kumar</h4>
      <p>Technology Analyst, JPMorgan Chase</p>
    </div>
    <div class="col-lg-6" id="item-5">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Raheel_kazi.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Raheel Kazi</h4>
      <p>Software Engineering Manager, Amazon</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Siddhant_shah.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Siddhant Shah</h4>
      <p>Senior User Experience Designer,Mobilelron, SanFrancisco</p>
    </div>
    <div class="col-lg-6" id="item-6">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Palash_agrawal.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Palash Agrawal</h4>
      <p>Software Engineer, Google</p>
    </div>
    <div class="col-lg-6" id="item-7">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Cherry_parashar.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Ms. Cherry Parashar</h4>
      <p>Analyst, Barclays Bank, Mumbai</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Yash_sanzgiri.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Yash Sanzgiri</h4>
      <p>Cyber Security Analyst, Intercontinental Exchange</p>
    </div>
    <div class="col-lg-6" id="item-8">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Tejas_khot.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Tajas Khot</h4>
      <p>Applied Scientist, Amazon</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Aakar_kale.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Aakar Kale</h4>
      <p>Co-founder/Owner, Bookmarked</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Akshay_vedpathak.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Akshay Vedpathak</h4>
      <p>Software Development Engineer, Amazon</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Shivam_agarwal.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Shivam Agarwal</h4>
      <p>Director, Pleiades Soft Pvt. Ltd., Mumbai</p>
    </div>
    <div class="col-lg-6" id="item-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets\images\Shreekant_plappally.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
      <h4>Mr. Shreekant Plappally</h4>
      <p>Senior Business Analyst, Trade Finance</p>
    </div>
  </div>
</div>
</div>