<h4 class="featurette-heading">Objectives of Alumni Committee</h4>
<p class="lead">
    1.To promote and foster mutually beneficial interaction between Alumni and the Institute.<br>
    2.To encourage the Alumni to take abiding interest in the process and development of Institute<br>
    3.To arrange and support placement activities for the students of Institute.<br>
    4.To encourage the students of the Institute and members of the Association for research &amp; development work in various fields like engineering.<br>
    5.To mentor the students of the Institute for higher education, development of character and being good citizens.<br>
    6.To encourage and guide the students of the Institute on self-employment to become entrepreneurs.<br>
    7.To guide students of the Institute on various professional avenues available and support them through various activities such as expert advice, seminars, visit etc.<br>
    8.Promote the Industry-Institute interaction to bridge the gap between industry requirements and education offered and enhance students’ employability.</p>