{% for desk in page.custom.desks %}
<div class="featurette mx-auto" align="center">
  <div class="col-md-5">
    <img class="featurette-image mx-auto d-block" alt="500x500" style="width: 200px; height: 200px; box-shadow: 3px 3px 1px grey;" src="{{desk.image}}">
  </div>
  <br>
  <div class="">
    <h4 class="featurette-heading">{{ desk.header }}</h4>
    <p class="lead" style="font-size: 10pts;">{{ desk.quote }}</p>
  </div>
</div>
<hr class="featurette-divider">
{% endfor %}

{% include alumni_members.html %}