<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    $(function () {
        $(document).on('click', '.btn-add', function (e) {
            e.preventDefault();
            var controlForm = $('#myRepeatingFields:first'),
                currentEntry = $(this).parents('.entry:first'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm);
            newEntry.find('input').val('');
            controlForm.find('.entry:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('');
        }).on('click', '.btn-remove', function (e) {
            e.preventDefault();
            $(this).parents('.entry:first').remove();
            return false;
        });
    });
</script>
<style>
    .entry:not(:first-of-type) {
        margin-top: 10px;
    }
</style>
<form action="https://formspree.io/xknoeave" method="POST">
    <strong style="text-align:center; font-size: 20px;">Enter transaction details</strong>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputId">Transact Id</label>
                <input type="number" class="form-control" name="inputId" required>
            </div>
        </div>
    <div id="myRepeatingFields" >
        <div class="entry ">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" name="inputName" >
                </div>
                <div class="form-group col-md-2">
                    <label for="inputAmount">Amount</label>
                    <input type="text" class="form-control" name="inputAmount" required>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-md btn-add">
                <span aria-hidden="true">Add another donor</span>
            </button>
        </div>
    </div>
    <div style="text-align: center;">
        <input type="submit" class="btn btn-outline-success">
    </div>
</form>
