<div class="header_container">
    <a href="#" style="float: left; display: block;">
        <img src="./images/HEADER_LOGO.png" alt="Fr. Conceicao Rodrigues College of Engineering, Bandra" class="header_logo">
        <div style="float: left;">
            <div class="header_right"> 
                <span style="font-weight: 700">ALUMNI AFFAIRS</span>
                <span style="font-weight: 700;">AND</span>
                <div style="font-weight: 700">INTERNATIONAL PROGRAMMES</div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
    </a>
    <div style="float: right;" class="sub_container">
        <a href="/payment_options.html">
            <div style="margin-top:12px; color: black;font-size: 12px;float: left;padding: 2px 8px 0px;text-decoration: underline;">Payment Options</div>
        </a>
        <a href="/tax_incentives.html">
            <div style="margin-top:12px; color: black;font-size: 12px;float: left;padding: 2px 8px 0px 0px;text-decoration: underline;">Tax Incentives</div>
        </a>
        <div style="float: right;">
            <a href="https://frcrce.almaconnect.com/donations">
                <div class="gb_button">give back</div>
            </a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>