<div style="margin-left: 10%;
                margin-right: 10%;">
    <strong style="text-align: center;
                   font-size: 24pt;
                   margin-left: 30%;
                   margin-right: 20%;">
                   GIVE TO CHANGE LIVES</strong>
    <p></p>
    <form action="https://formspree.io/xdoajvog" method="POST">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="John Doe">
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-5">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com">
            </div>
        </div>
        <div class="form-group ">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputBatch">Choose batch</label>
                <select id="inputBatch" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-5">
                <label for="inputBranch">Choose branch</label>
                <select id="inputBranch" class="form-control">
                    <option selected>Select...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCardNumber">Credit Card Number</label>
                <input type="number" class="form-control" name="CardNumber" id="">
            </div>
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-2">
                <label for="inputCVV">CVV</label>
                <input type="number" class="form-control" name="CardCVV" id="">
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-3">
                <label for="inputdate">Expriy Date</label>
                <input type="date" class="form-control" name="CardExpiry" id="">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    I agree to the terms and conditions
                </label>
            </div>
        </div>
        <div style="text-align: center;">
            <div style="display: inline-block;">
                <button type="submit" class="btn btn-outline-success">Confirm Payment</button>
            </div>
        </div>
    </form>
</div>
