<div class="container-fluid m-0 px-2 py-0">
  <h4 class="display-5 font-italic text-center">Welcome to<br>
    <strong>Alumni Portal of <br> Fr. Conceicao Rodrigues College of Engineering</strong>
  </h4>
  <!-- <p class="lead my-3 text-center">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p> -->
<!--   <p class="lead mb-0 text-center"><a href="/about.html" class="text-black font-weight-bold">Learn More...</a></p> -->
</div>
